@model test_ngo.Models.Volunteer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VolunteerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
