<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/testimonials.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <title>ILK Foundation</title>

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Index", "Home")">
                <span class="logo">ILK FOUNDATION</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Home")#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Home")#helpus">Help Us</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Home")#project">Events</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Home")#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Home")#events">Upcoming Events</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Action("Volunteer", "Volunteers")">Volunteer</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Action("Donates", "Donate")">Donate</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Home")#testimonials">Testimonials</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Home")#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Project Section -->
    <section class="proj-section bg-light" id="project" style="padding-top: 50px;">
        <div class="container-fluid">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Events</h2>
                <h3 class="section-subheading text-muted">Have a look at our past events.</h3>

                 @if (User.IsInRole("Admin")){
                <a href="@Url.Action("Index", "PastEvents")" class="btn btn-primary btn-lg">Manage Events</a>
                 }

            </div>
            <div class="row">
                @foreach (var ev in Model)
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="project-item">
                            <a class="project-link" data-toggle="modal" href="#projectModal@(ev.EventId)">
                                <div class="project-hover">
                                    <div class="project-hover-content">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="data:image;base64,@(Convert.ToBase64String(ev.ImageData))" class="img-fluid" alt="@ev.Title">
                            </a>
                            <div class="project-caption">
                                <div class="project-caption-heading">@ev.Title</div>
                                <div class="project-caption-subheading text-muted">@ev.Description</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
           
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
